
*{
    padding: 0;
    margin: 0;
     color: #fff;
     font-family: 'Times New Roman', Times, serif;
}
.main{
    height: 100vh;
    width: 100%; 
   background-color: #000000; 
   overflow: auto;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:90px;
    position: sticky;
    top: 0;
    background-color:#121212;

}

span .lg{
    margin-top: 10px;
    height:40px;
    width: 35px;
}
.nav{
    
    display: flex;
    gap:35px;
}
.btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* height: 25px;
    width: 60px; */
    border: none;
    background-color:transparent;
    font-size: 18px;
    padding: 4px;

}
.btn:hover{
    /* padding: 4px; */
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* height: 25px;
    width: 60px;  */
    border: none;
    background-color:transparent;
    font-size: 18px;
     box-shadow: 0px 0px 3px rgb(230, 230, 230);
     border-radius: 5px;

}

.hero{
    height: 550px;
    width:80% ;
    background-color: #fff;
    align-content: center;
    
    margin: auto;
    margin-top: 15px;
    background-image: url(hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.hero:hover{
     height: 550px;
    width:80% ;
    background-color: #fff;
    align-content: center;
    
    margin: auto;
    margin-top: 15px;
    background-image: url(hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
     box-shadow: 0px 0px 3px rgb(230, 230, 230);

}
.hero h2{
   
    color: white;
    font-weight: 700;
    font-size: 3rem;
    /* align-content: center; */
}
.mainblog{
    
    margin: auto;
     margin-top: 25px;  
    height: 360px;
    width:70% ;
    display: flex;
    border: 1px black solid;
    flex-wrap: nowrap;
    padding: 2px;
    background-color: #242323;
    padding: 10px;
    border-radius: 5px;
    
}
.content{
    display: flex;
    flex-direction: column;
}
.img .lgim{
    height:355px ;
    width: 300px;
}

.mainblog h2{
    color: #fff;
    font-size: 3rem;
}
.mainblog p{
    margin-top: 40px;
    align-self: center;
    font-size: 1.25rem;
}
.card{
    /* background-color: #fff; */
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.cards{
    
    font-size: 1rem;
    padding: 5px;
     border-radius: 5px;
    height:380px ;
    width:350px ;
    background-color:#242323 ;
    /* border: 1px rgb(97, 94, 94) solid; */
}
.cards .crdimg{
    padding: 3px;
    height: 280px;
    width: 345px;
}


.mainblog:hover{
    margin: auto;
    margin-top: 25px;  
    height: 360px;
    width:70% ;
    display: flex;
    border: 1px black solid;
    flex-wrap: nowrap;
    padding: 2px;
    background-color: #242323;
    padding: 10px;
    border-radius: 5px;
    /* border: 1px white solid; */
    box-shadow: 0px 0px 3px rgb(230, 230, 230);
    
}
.cards:hover{
    
    font-size: 1rem;
    padding: 5px;
     border-radius: 5px;
    height:380px ;
    width:350px ;
    background-color:#242323 ;
    /* border: 1px rgb(97, 94, 94) solid; */
    box-shadow: 0px 0px 3px rgb(230, 230, 230);
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: cursive;
}